@import 'reset';
@import 'skel';
@import 'form';

@font-face {
  src: url('./type.ttf');
  font-family: 'Type';
}

// $grey: #999;
$light-grey: #efefef;
// $dark-grey: #333;
$grey: black;
$dark-grey: black;

h1,
h2,
h3,
h4,
h5,
p,
input,
select,
option,
label {
  font-family: 'Type';
}

:root {
  font-size: 20px;
}



body {
  margin: 2rem 5%;
  padding: 2rem;
  border: 9px double $grey;
}

.row {
  margin: 1rem;
  &.normal {
    padding: 5%;
  }
  &.wrapped {
    border: 1px solid $grey;
    padding: 2rem;
  }
  &.inverse {
    color: $dark-grey;
    background: $light-grey;
  }
}

.columns {
  padding: 1rem;
}