@import 'reset';
@import 'skel';
@import 'form';

$grey: #999;
$light-grey: #efefef;
$dark-grey: #333;

h1,
h2,
h3,
h4,
h5,
p,
input,
select,
option,
label {
  font-family: 'Cutive Mono';
}

label {
  font-size: 1.5rem;
}

body {
  margin: 2rem 5%;
  padding: 2rem;
  border: 3px double $grey;
}

input[type="text"] {
  width: 90%;
  max-width: 300px;
}

input {
  margin: 1rem;
}

label {
  margin: 1rem;
}

.row {
  margin: 1rem;
  &.normal {

  }
  &.wrapped {
    border: 1px solid $grey;
    padding: 2rem;
  }
  &.inverse {
    color: $dark-grey;
    background: $light-grey;
  }
}